body{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

img {
    display: block;
    max-width: 100%;
}

.link {
    text-decoration: none;
}

.current{
    color: var(--current-color-active-link);
}

container-desk{
  max-width: 1280px;
  padding-left: 115px;
  padding-right: 115px;
  margin: 0 auto;
}

container-tab{
    min-width: 320px;
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
conteiner-mob{
    max-width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}