/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './util/variables';
@import './base/common';
@import './base/reset';
@import './util/mixin';
@import './components/btn';
@import './components/hero';
@import './components/products';
@import './layout/advantages';
@import './components/gallery';
@import './components/contacts';
@import './components/footer';
@import './components/backdrop';
@import './components/modal';
