/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './util/variables';
@import './util/mixin';
@import './components/btn';
@import './components/gallery';

@import './components/contacts';
