:root {
  --current-color-active-link: #d41443;
  --btn-dark-color: #ffffff;
  --btn-dark-bg-color: #d41443;
  --btn-light-color: #d41443;
  --btn-light-bg-color: #ffffff;
  --btn-dark-hover-bg-color: #c7133e;
  --btn-light-hover-bg-color: #ecebeb;
  --title-dark-color: #c7133e;
  --title-light-color: #ffa5ba;
  --title-white-color: #ffffff;
  --accent-color: #c7133e;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.link {
  text-decoration: none;
}
body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.current {
  color: var(--current-color-active-link);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
