<section class="contacts" id="contact">
  <div class="container">
    <h2 class="visually-hidden">Our contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <!-- <p><span class="contacts__title">cafe</span></p> -->
        <div class="contacts__adress">
          <p class="contacts__title-margin"><span class="contacts__title">cafe</span></p>
          <p class="contacts__city">Chicago</p>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__work-time">
          <div class="contacts__work-time-margins">
            <p class="contacts__work-time-days">Monday - Friday</p>
            <p class="contacts__work-time-hours">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__work-time-margins">
            <p class="contacts__work-time-days">Saturday - Sunday</p>
            <p class="contacts__work-time-hours">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div class="contacts__links">
          <a class="contacts__links-tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts__links-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__adress">
          <p class="contacts__title-margin">
            <span class="contacts__title contacts__title--green">food truck</span>
          </p>
          <p class="contacts__city">Los Angeles</p>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__work-time">
          <div class="contacts__work-time-margins">
            <p class="contacts__work-time-days">Monday - Friday</p>
            <p class="contacts__work-time-hours">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__work-time-margins">
            <p class="contacts__work-time-days">Saturday - Sunday</p>
            <p class="contacts__work-time-hours">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div class="contacts__links">
          <a class="contacts__links-tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts__links-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__adress">
          <p class="contacts__title-margin"><span class="contacts__title">cafe</span></p>
          <p class="contacts__city">New York</p>
          <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="contacts__work-time">
          <div class="contacts__work-time-margins">
            <p class="contacts__work-time-days">Monday - Friday</p>
            <p class="contacts__work-time-hours">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__work-time-margins">
            <p class="contacts__work-time-days">Saturday - Sunday</p>
            <p class="contacts__work-time-hours">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div class="contacts__links">
          <a class="contacts__links-tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts__links-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
    </ul>
    <ul class="btn-list">
      <li class="btn-list__item">
        <button type="button" class="btn btn--red" id="open">
          Our Locations
          <svg class="vector vector--white">
            <use href="./images/icons.svg#icon-vector"></use>
          </svg>
        </button>
      </li>
      <li class="btn-list__item">
        <button type="button" class="btn btn--white" id="openFranchise">
          Franchise
          <svg class="vector vector--red">
            <use href="./images/icons.svg#icon-vector"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
