<section class="reviews">
    <div class="slider">
        <div class="slider__item">

            <img class="slider__img" srcset="./images/reviews/reviewer1.png, 
                    ./images/reviews/reviewer1-2x.png" src="./images/reviews/reviewer1.png" alt="Покупатель-1"
                width="85">

            <div class="slider__wrapper">
                <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>

            <p class="slider__client-data">Emily, Los Angeles</p>
        </div>

        <div class="slider__item">

            <img class="slider_img" srcset="./images/reviews/reviewer2.png, ./images/reviews/reviewer2-2x.png"
                src="./images/reviews/reviewer2.png" alt="Покупатель-2" width="85">

            <div class="slider__wrapper">
                <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>

            <p class="slider__client-data">Emily, Los Angeles</p>
        </div>

        <div class="slider__item">

            <img class="slider_img" srcset="./images/reviews/reviewer3.png, ./images/reviews/reviewer3-2x.png"
                src="./images/reviews/reviewer3.png" alt="Покупатель-3" width="85">

            <div class="slider__wrapper">
                <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>

            <p class="slider__client-data">Emily, Los Angeles</p>
        </div>
</section>