<section class="gallery">
    <div class="container">
        <h2 class="visually-hidden">
            Gallery
        </h2>
        <div class="gallery__flex">
            <div class="gallery__column">
                <picture class="gallery__picture">
                    <source srcset="
                                            ./images/gallery/gallery-1-desk.jpg 1x,
                                            ./images/gallery/gallery-1-desk-2x.jpg 2x
                                            " media="(min-width: 1200px)"/>
                    <source srcset="
                                            ./images/gallery/gallery-1-tab.jpg 1x,
                                            ./images/gallery/gallery-1-tab-2x.jpg 2x
                                            " media="(min-width: 768px)" />
                    <source srcset="
                                            ./images/gallery/gallery-1-mob.jpg 1x,
                                            ./images/gallery/gallery-1-mob-2x.jpg 2x
                                            " media="(min-width: 320px)" />
                    <img class="gallery__img" src="./images/gallery/gallery-1-desk.jpg" alt="Gallery">
                </picture>
            </div>
            <div class="gallery__column">
                <picture class="gallery__picture">
                    <source srcset="
                                            ./images/gallery/gallery-2-desk.jpg 1x,
                                            ./images/gallery/gallery-2-desk-2x.jpg 2x
                                            " media="(min-width: 1200px)" />
                    <source srcset="
                                            ./images/gallery/gallery-2-tab.jpg 1x,
                                            ./images/gallery/gallery-2-tab-2x.jpg 2x
                                            " media="(min-width: 768px)" />
                    <source srcset="
                                            ./images/gallery/gallery-2-mob.jpg 1x,
                                            ./images/gallery/gallery-2-mob-2x.jpg 2x
                                            " media="(min-width: 320px)" />
                    <img class="gallery__img" src="./images/gallery/gallery-2-desk.jpg" alt="Gallery">
                </picture>
                <picture class="gallery__picture">
                    <source srcset="
                                            ./images/gallery/gallery-3-desk.jpg 1x,
                                            ./images/gallery/gallery-3-desk-2x.jpg 2x
                                            " media="(min-width: 1200px)" />
                    <source srcset="
                                            ./images/gallery/gallery-3-tab.jpg 1x,
                                            ./images/gallery/gallery-3-tab-2x.jpg 2x
                                            " media="(min-width: 768px)" />
                    <source srcset="
                                            ./images/gallery/gallery-3-mob.jpg 1x,
                                            ./images/gallery/gallery-3-mob-2x.jpg 2x
                                            " media="(min-width: 320px)" />
                    <img class="gallery__img" src="./images/gallery/gallery-3-desk.jpg" alt="Gallery">
                </picture>
            </div>
            <div class="gallery__column">
                <picture class="gallery__picture large">
                    <source srcset="
                                            ./images/gallery/gallery-4-desk.jpg 1x,
                                            ./images/gallery/gallery-4-desk-2x.jpg 2x
                                            " media="(min-width: 1200px)" />
                    <source srcset="
                                            ./images/gallery/gallery-4-tab.jpg 1x,
                                            ./images/gallery/gallery-4-tab-2x.jpg 2x
                                            " media="(min-width: 768px)" />
                    <source srcset="
                                            ./images/gallery/gallery-4-mob.jpg 1x,
                                            ./images/gallery/gallery-4-mob-2x.jpg 2x
                                            " media="(min-width: 320px)" />
                    <img class="gallery__img" src="./images/gallery/gallery-4-desk.jpg" alt="Gallery">
                </picture>
                <picture class="gallery__picture">
                    <source srcset="
                                            ./images/gallery/gallery-5-desk.jpg 1x,
                                            ./images/gallery/gallery-5-desk-2x.jpg 2x
                                            " media="(min-width: 1200px)" />
                    <source srcset="
                                            ./images/gallery/gallery-5-tab.jpg 1x,
                                            ./images/gallery/gallery-5-tab-2x.jpg 2x
                                            " media="(min-width: 768px)" />
                    <source srcset="
                                            ./images/gallery/gallery-5-mob.jpg 1x,
                                            ./images/gallery/gallery-5-mob-2x.jpg 2x
                                            " media="(min-width: 320px)" />
                    <img class="gallery__img" src="./images/gallery/gallery-5-desk.jpg" alt="Gallery">
                </picture>
            </div>
            <div class="gallery__column">
                <picture class="gallery__picture">
                    <source srcset="
                                            ./images/gallery/gallery-6-desk.jpg 1x,
                                            ./images/gallery/gallery-6-desk-2x.jpg 2x
                                            " media="(min-width: 1200px)" />
                    <source srcset="
                                            ./images/gallery/gallery-6-tab.jpg 1x,
                                            ./images/gallery/gallery-6-tab-2x.jpg 2x
                                            " media="(min-width: 768px)" />
                    <source srcset="
                                            ./images/gallery/gallery-6-mob.jpg 1x,
                                            ./images/gallery/gallery-6-mob-2x.jpg 2x
                                            " media="(min-width: 320px)" />
                    <img class="gallery__img" src="./images/gallery/gallery-6-desk.jpg" alt="Gallery">
                </picture>
                <picture class="gallery__picture">
                    <source srcset="
                                            ./images/gallery/gallery-7-desk.jpg 1x,
                                            ./images/gallery/gallery-7-desk-2x.jpg 2x
                                            " media="(min-width: 1200px)" />
                    <source srcset="
                                            ./images/gallery/gallery-7-tab.jpg 1x,
                                            ./images/gallery/gallery-7-tab-2x.jpg 2x
                                            " media="(min-width: 768px)" />
                    <source srcset="
                                            ./images/gallery/gallery-7-mob.jpg 1x,
                                            ./images/gallery/gallery-7-mob-2x.jpg 2x
                                            " media="(min-width: 320px)" />
                    <img class="gallery__img" src="./images/gallery/gallery-7-desk.jpg" alt="Gallery">
                </picture class="gallery__picture">
            </div>
            <div class="gallery__column">
                <picture class="gallery__picture">
                    <source srcset="
                                            ./images/gallery/gallery-8-desk.jpg 1x,
                                            ./images/gallery/gallery-8-desk.jpg 2x
                                            " media="(min-width: 1200px)" />
                    <source srcset="
                                            ./images/gallery/gallery-8-desk.jpg 1x,
                                            ./images/gallery/gallery-8-desk.jpg 2x
                                            " media="(min-width: 768px)" />
                    <source srcset="
                                            ./images/gallery/gallery-8-desk.jpg 1x,
                                            ./images/gallery/gallery-8-desk.jpg 2x
                                            " media="(min-width: 320px)" />
                    <img class="gallery__img" src="./images/gallery/gallery-8-desk.jpg" alt="Gallery">
                </picture>
                <picture class="gallery__picture">
                    <source srcset="
                                            ./images/gallery/gallery-9-desk.jpg 1x,
                                            ./images/gallery/gallery-9-desk.jpg 2x
                                            " media="(min-width: 1200px)" />
                    <source srcset="
                                            ./images/gallery/gallery-9-desk.jpg 1x,
                                            ./images/gallery/gallery-9-desk.jpg 2x
                                            " media="(min-width: 768px)" />
                    <source srcset="
                                            ./images/gallery/gallery-9-desk.jpg 1x,
                                            ./images/gallery/gallery-9-desk.jpg 2x
                                            " media="(min-width: 320px)" />
                    <img class="gallery__img" src="./images/gallery/gallery-9-desk.jpg" alt="Gallery">
                </picture class="gallery__picture">
            </div>
            <div class="gallery__column">
                <picture>
                    <source srcset="
                                            ./images/gallery/gallery-10-desk.jpg 1x,
                                            ./images/gallery/gallery-10-desk.jpg 2x
                                            " media="(min-width: 1200px)" />
                    <source srcset="
                                            ./images/gallery/gallery-10-desk.jpg 1x,
                                            ./images/gallery/gallery-10-desk.jpg 2x
                                            " media="(min-width: 768px)" />
                    <source srcset="
                                            ./images/gallery/gallery-10-desk.jpg 1x,
                                            ./images/gallery/gallery-10-desk.jpg 2x
                                            " media="(min-width: 320px)" />
                    <img class="gallery__img" src="./images/gallery/gallery-10-desk.jpg" alt="Gallery">
                </picture>
            </div>
            
        </div>
    </div>
</section>