<section class="header-hero">
  <header class="container container-hero">
    <div class="header__bar">
      <a href="index.html" class="header__logo">
        <img src="./images/header-and-hero/logo.png" alt="logo" />
      </a>
      <ul class="header__nav-list">
        <li class="header__nav-item"><a class="header__nav-link link current" href="#home">Home</a></li>
        <li class="header__nav-item">
          <a class="header__nav-link link" href="#about">About us</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link link" href="#howitsmade">How it’s made?</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link link" href="#products">Our products</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link link" href="#contact">Contact</a>
        </li>
      </ul>
      <button
        class="burger-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mob-menu__container"
        data-menu-button
      >
        <img src="./images/header-and-hero/burger.png" alt="burger-icon" />
      </button>
      <button class="btn-header btn-light" type="button" data-modal-open>Buy now</button>
    </div>
    <div class="hero__container">
      <h1 class="hero__theme">
        ice cream made with
        <span class="colorized">passion</span>
      </h1>
      <ul class="our-network">
        <li class="our-network__item">
          <p class="our-network__nomber">16</p>
          <p class="our-network__profile">cafes</p>
        </li>
        <li class="our-network__item">
          <p class="our-network__nomber">23</p>
          <p class="our-network__profile">food trucks</p>
        </li>
      </ul>
      <div class="hero__btns">
        <button class="hero__btn btn-main btn-dark" type="button">
          <a class="hero__btn-link" href="#products">Products</a>
        </button>
        <button class="hero__btn btn-main btn-light" type="button">
          <a class="hero__btn-link" href="#howitsmade">How it’s made?</a>
        </button>
      </div>
      <div class="description">
        <p class="description__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="description__btn" type="button">
          <img src="./images/header-and-hero/arrow-right.png" alt="arrow-right" />
        </button>
      </div>
    </div>
  <!-- </header>
  <header class="header"> -->
    <div class="mob-menu__container" id="mob-menu__container" data-menu>
          <button class="button modal-close" aria-expanded="true"
        aria-controls="mob-menu__container"
        data-menu-button>
            <svg class="modal-close__icon" width="18" height="18">
              <use href="./images/icons.svg#icon-close"></use>
            </svg>
          </button>
      <button type="button" class="btn--white mob-menu__btn" aria-expanded="true" aria-controls="mob-menu__container"
        >
        Buy now
        <svg class="btn-svg" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 10">
          <path d="m1.616 1 4.428 4-4.428 4" stroke="#d41443" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </button>
      <ul class="mob-menu__list">
        <li class="mob-menu__item">
          <a href="index.html" class="mob-menu__link link current">Home</a>
        </li>
        <li class="mob-menu__item">
          <a href="#advantages" class="mob-menu__link link">About us</a>
        </li>
        <li class="mob-menu__item">
          <a href="#about" class="mob-menu__link link">How it’s made?</a>
        </li>
        <li class="mob-menu__item">
          <a href="#products" class="mob-menu__link link">Our products</a>
        </li>
        <li class="mob-menu__item">
          <a href="#contact" class="mob-menu__link link">Contact</a>
        </li>
      </ul>
    </div>
  </header>

</section>
