<section class="header-hero">
  <header class="container container-hero">
    <div class="header__bar">
      <a href="index.html" class="header__logo">
        <img src="./images/header-and-hero/logo.png" alt="logo" />
      </a>
      <ul class="header__nav-list">
        <li class="header__nav-item"><a class="header__nav-link link" href="#home">Home</a></li>
        <li class="header__nav-item">
          <a class="header__nav-link link" href="#about">About us</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link link" href="#howitsmade">How it’s made?</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link link" href="#products">Our products</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link link" href="#contact">Contact</a>
        </li>
      </ul>
      <button
        class="burger-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mob-menu__container"
        data-menu-button
      >
        <img src="./images/header-and-hero/burger.png" alt="burger-icon" />
      </button>
      <button class="btn-header btn-light" type="button" data-modal-open>Buy now</button>
    </div>
    <div class="hero__container">
      <h1 class="hero__theme">
        ice cream made with
        <span class="colorized">passion</span>
      </h1>
      <div class="hero__btns">
        <button class="hero__btn btn-main btn-dark" type="button">
          <a class="hero__btn-link" href="#products">Products</a>
        </button>
        <button class="hero__btn btn-main btn-light" type="button">
          <a class="hero__btn-link" href="#howitsmade">How it’s made?</a>
        </button>
      </div>
      <div class="description">
        <p class="description__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="description__btn" type="button">
          <img src="./images/header-and-hero/arrow-right.png" alt="arrow-right" />
        </button>
      </div>
    </div>
  </header>
</section>
