<section class="header-hero">
  <header class="container container-hero">
    <div class="header__bar">
      <a href="#" class="header__logo">
        <img src="./images/header-and-hero/logo.png" alt="logo" />
      </a>
      <ul class="header__nav-list">
        <li class="header__nav-item"><a class="header__nav-link link" href="#">Home</a></li>
        <li class="header__nav-item"><a class="header__nav-link link" href="#">About us</a></li>
        <li class="header__nav-item">
          <a class="header__nav-link link" href="#">How it’s made?</a>
        </li>
        <li class="header__nav-item"><a class="header__nav-link link" href="#">Our products</a></li>
        <li class="header__nav-item"><a class="header__nav-link link" href="#">Contact</a></li>
      </ul>
      <button class="btn-header btn-light" type="button">Buy now</button>
    </div>
    <div class="hero__container">
      <h1 class="hero__theme">
        ice cream made with
        <span class="colorized">passion</span>
      </h1>
      <div class="hero__btns">
        <a href="#" class="hero__btn btn-main btn-dark" type="button">Products</a>
        <a href="#" class="hero__btn btn-main btn-light" type="button">How it’s made?</a>
      </div>
      <div class="description">
        <p class="description__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="description__btn" type="button">
          <img src="./images/header-and-hero/arrow-right.png" alt="arrow-right" />
        </button>
      </div>
    </div>
  </header>
</section>
