.about-section {
  background-color: #fff5f6;
}

.about-container {
  padding: 40px 20px;
}

.about-section__pre-title {
  font-family: 'Titan One';
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;

  margin-bottom: 16px;
}

.about-section__title {
  font-family: 'Titan One';
  font-size: 58px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d41443;

  margin-bottom: 32px;
}

.about__wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    width: calc((100% - 64px) / 2);
  }
}

.about__img {
  margin-bottom: 40px;
}

.about-section__tagline {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: #000000;

  margin-bottom: 40px;
}

.about-section__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #907e82;

  margin-bottom: 20px;
}
