.contacts {
  padding-bottom: 48px;
  background-image: linear-gradient(#ffffff 327px, #fff5f6 327px);

  @include tab {
    padding-bottom: 40px;
    background-image: linear-gradient(#ffffff 126px, #fff5f6 126px);
  }

  @include desk {
    padding-bottom: 120px;
    background-image: url(../images/contacts/sectionbg.png),
      linear-gradient(#ffffff 101px, #fff5f6 101px);
    background-position: center;
    background-size: 1940px, 10000px;
    background-repeat: no-repeat, no-repeat;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/contacts/sectionbg2x.png),
        linear-gradient(#ffffff 101px, #fff5f6 101px);
      background-position: center;
      background-size: 1940px, 10000px;
      background-repeat: no-repeat, no-repeat;
    }
  }

  // .contacts__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include tab {
      gap: 32px;
    }
  }

  // .contacts__item

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    padding: 40px 32px;
    width: 100%;
    margin: 0 auto;

    background: #ffffff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    transition: box-shadow 500ms linear, transform 500ms linear;
    
    &:hover,
    &:focus {
      box-shadow: 0px 8px 40px rgba(212, 20, 67, 0.5);
      transform: scale(1.03);
    }

    @include tab {
      gap: 32px;
      width: calc((100% - 64px) / 3);
    }

    @include desk {
      padding: 40px;
    }
  }

  &__title-margin {
    margin-bottom: 20px;

    @include tab {
      margin-bottom: 32px;
    }
  }

  // .contacts__title

  &__title {
    font-size: 12px;
    line-height: 186%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 0 24px;

    color: #ffffff;
    background: #f0d1a5;
    border-radius: 6px;

    &--green {
      background-color: #c2e297;
    }

    @include tab {
      padding: 4px 17px;
      font-size: 16px;
    }
  }

  // .contacts__city

  &__city {
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    margin-bottom: 8px;

    color: #000000;

    @include tab {
      font-size: 14px;
      margin-bottom: 12px;
    }

    @include desk {
      font-size: 16px;
      margin-bottom: 8px;
    }
  }

  // .contacts__text

  &__text {
    font-size: 12px;
    line-height: 150%;
    width: 100%;
    max-width: calc(100% - 20px);

    color: #907e82;

    @include tab {
      font-size: 14px;
      line-height: 166%;
      max-width: 100%;
    }

    @include desk {
      font-size: 16px;
      line-height: 183%;
      letter-spacing: 0.04em;
    }
  }

  // .contacts__work-time

  &__work-time {
    &::after {
      content: '';
      display: block;
      margin-top: 24px;
      height: 1px;
      background-color: #e1e1e1;

      @include tab {
        margin-top: 32px;
      }
    }

    &::before {
      content: '';
      display: block;
      margin-bottom: 24px;
      height: 1px;
      background-color: #e1e1e1;

      @include tab {
        margin-bottom: 32px;
      }
    }
  }

  // .contacts__work-time-margins

  &__work-time-margins:not(:last-child) {
    margin-bottom: 8px;

    @include tab {
      margin-bottom: 12px;
    }
  }

  // .contacts__work-time-days

  &__work-time-days {
    font-size: 12px;
    line-height: 186%;

    color: #000000;

    @include tab {
      font-size: 14px;
    }

    @include desk {
      font-size: 16px;
      letter-spacing: 0.04em;
    }
  }

  // .contacts__work-time-hours

  &__work-time-hours {
    font-size: 12px;
    line-height: 186%;
    color: #ffa5ba;

    @include tab {
      font-size: 14px;
    }

    @include desk {
      font-size: 16px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  // .contacts__links-tel

  &__links-tel,
  &__links-mail {
    font-size: 12px;
    line-height: 150%;
    color: #907e82;
    text-decoration: none;

    @include tab {
      font-size: 14px;
      line-height: 183%;
    }

    @include desk {
      font-size: 16px;
      line-height: 183%;
    }
  }
}
