
.review {
    padding-top: 123px;
    padding-bottom: 132px;
}

.slider {
    
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;

}

.slider__img {
    display: flex;
    justify-content: center;

}

.slider__wrapper {

    width: 280px;

    padding-top: 43px;
    padding-bottom: 20px;
    padding-right: 57px;
    padding-left: 66px;
    
    margin-top: 29px;

    margin-left: auto;
    margin-right: auto;

    background-color: #FAFAFA;

    @media screen and (min-width: 768px) {

        width: 620px;

        padding-top: 47px;
        padding-bottom: 34px;
        padding-right: 80px;
        padding-left: 80px;
        margin-top: 29px;
        margin-top: 19px;
    }

    @media screen and (min-width: 1200px){

        width: 926px;

        margin-top: 15px;
        
        padding-top: 47px;
        padding-right: 89px;
        padding-bottom: 39px;
        padding-left: 87px;
 
    }

}

.slider__text {
    position: relative;

    z-index: 1;

    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    letter-spacing: 0.04em;

    text-align: center;
    
    color: #000000;

    background-image: repeating-linear-gradient(to top,#e1e1e1,#e1e1e1 1px, transparent 1px, transparent 31px);

    @media screen and (min-width: 768px) {
    
        font-size: 14px;
        line-height: 2.14;
        letter-spacing: 0.04em;
    
    }

    @media screen and (min-width: 1200px) {

        font-size: 16px;
        line-height: 1.86;
        letter-spacing: 0.04em;

    }

    &::before {
        content: '';

        position: absolute;

        top: -20px;
        left: 0px;

        z-index: -1;
    
        position: absolute;
    
        width: 54px;
        height: 40px;
        background-repeat: no-repeat;


        background: url('/images/reviews/dec.svg');

    }
  
}

.slider__wrapper{
    position: relative;   
}

.slider__client-data {

    position: relative;

    margin-top: 52px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    
    text-align: center;

        @media screen and (min-width: 768px) {

            margin-top: 42px;
        
            font-size: 16px;
            line-height: 1.86;
            letter-spacing: 0.04em;
        
        }

        @media screen and (min-width: 1200px) {

            margin-top: 34px;
        
            font-size: 20px;
            line-height: 1.86;
            letter-spacing: 0.04em;
        
        }
                
    &::before {

        position: absolute;

        z-index: -1;

        content: "";

        width: 32px;
        height: 4px;

        background-repeat: no-repeat;

        top: -20px;
        left: 45%;
        fill: none;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);

        background: url('/images/reviews/points.svg');
    }

}

.slick-dots {
    margin-top: 35px;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    margin-right: 18px;
}

.slider button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots li.slick-active button:before{

    content: "";
    // opacity: 1;

    position: absolute;

    width: 12px;
    height: 12px;

    background-repeat: no-repeat;

    background-image: url('/images/reviews/home.svg');
}

.slider .slick-dots li button:before {
    background-color: #FFFFFF;
}

.slider .slick-dots li button {

    font-size: 0;

    width: 12px;
    height: 12px;

    border-radius: 50%;
    border: none;

    background-color: #d9d9d9;
}


