.footer {
  background-color: #fff5f6;
}

.footer__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 91px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 97px;
  }
}

.footer__title-wrap {
  width: 234px;

  @media screen and (min-width: 1200px) {
    width: 480px;
  }
}

.footer__subtitle {
  font-family: 'Titan One', cursive;
  @include font(400, 18px, 21px, 0.04em);
  text-transform: uppercase;
  color: #ffa5ba;

  margin-bottom: 17px;

  @media screen and (min-width: 768px) {
    @include font(400, 26px, 30px, 0.04em);
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1200px) {
    @include font(400, 30px, 34px, 0.04em);
    margin-bottom: 15px;
  }
}

.footer__title {
  font-family: 'Titan One', cursive;
  @include font(400, 34px, 39px, 0.04em);
  text-transform: uppercase;
  color: #d41443;

  @media screen and (max-width: 767px) {
    margin-bottom: 43px;
    @include font(400, 48px, 55px, 0.06em);
  }

  @media screen and (min-width: 1200px) {
    @include font(400, 58px, 66px, 0.06em);
  }
}

.footer__cosial-items {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 46px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.footer__cosial-item:not(:last-child) {
  margin-right: 29px;
}

.footer__cosial-link {
  width: 32px;
  height: 32px;
  border-radius: 50%;

  @include flex-center;

  background-color: #fea5bb;
  color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #d41443;
  }

  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.footer__contact-wrap {
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: 767px) {
    margin-bottom: 46px;
  }
}

.footer__contact .footer__contact-link {
  @include font(700, 12px, 22px, 0.04em);

  @media screen and (min-width: 768px) {
    @include font(700, 14px, 26px, 0.04em);
  }

  @media screen and (min-width: 1200px) {
    @include font(700, 16px, 30px, 0.02em);
  }
}

.footer__contact-link {
  color: #d41443;
}

.footer__bottom {
  border-top: 1px solid #ececec;
}

.footer__bottom-text {
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 25px;

  @include font(700, 14px, 22px, 0.04em);
  text-align: center;
  color: #907e82;

  @media screen and (max-width: 767px) {
    width: 150px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 29px;
    padding-bottom: 18px;
    @include font(700, 14px, 26px, 0.02m);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}
