.gallery {
    background: linear-gradient(180deg, rgb(355, 245, 246) 40%, rgb(255, 255, 255) 40%, rgb(255, 255, 255) 100%);

    @media screen and (min-width: 768px) {
        background: linear-gradient(180deg, rgb(255, 245, 246) 40%, rgb(255, 255, 255) 40%, rgb(255, 255, 255) 100%);
    }

    @media screen and (min-width: 1200px) {
        background: linear-gradient(180deg, rgb(255, 245, 246) 40%, rgb(255, 255, 255) 40%, rgb(255, 255, 255) 100%);
    }
}

.gallery__img {
    margin-left: auto;
    margin-right: auto;
}