.header-hero {
  background-color: #ffb8ca;
}

.container-hero {
  position: relative;
  @media screen and (min-width: 320px) {
    height: 502px;
    background-image: url(../images/header-and-hero/icecream-mob.png),
      url(../images/header-and-hero/ellipse-mob.png);
    background-repeat: no-repeat;
    background-size: 171px 410px, 284px 344px;
    background-position: bottom 0px right 32px, bottom 75px right 0px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/header-and-hero/icecream-mob-2x.png),
        url(../images/header-and-hero/ellipse-mob-2x.png);
      background-repeat: no-repeat;
      background-size: 171px 410px, 284px 344px;
      background-position: bottom 0px right 32px, bottom 75px right 0px;
    }
  }

  @media screen and (min-width: 480px) {
    height: 502px;
    background-image: url(../images/header-and-hero/icecream-mob.png),
      url(../images/header-and-hero/ellipse-tab.png);
    background-repeat: no-repeat;
    background-size: 171px 410px, 344px 344px;
    background-position: bottom 0px right 32px, bottom 75px right 0;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/header-and-hero/icecream-mob-2x.png),
        url(../images/header-and-hero/ellipse-tab-2x.png);
      background-repeat: no-repeat;
      background-size: 171px 410px, 344px 344px;
      background-position: bottom 0px right 32px, bottom 75px right 0;
    }
  }

  @media screen and (min-width: 768px) {
    height: 416px;
    background-image: url(../images/header-and-hero/icecream-tab.png),
      url(../images/header-and-hero/girl-tab.png), url(../images/header-and-hero/ellipse-tab.png),
      url(../images/header-and-hero/ring-tab.png), url(../images/header-and-hero/ring-tab.png),
      url(../images/header-and-hero/milk-tab.png);
    background-repeat: no-repeat;
    background-size: 143px 336px, 168px 133px, 324px 322px, 16px 16px, 16px 16px, 124px 126px;
    background-position: bottom 0px right 303px, bottom 0px right 34px, bottom 46px right 185px,
      top 94px right 34px, top 152px right 34px, bottom 16px left 32px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/header-and-hero/icecream-tab-2x.png),
        url(../images/header-and-hero/girl-tab-2x.png),
        url(../images/header-and-hero/ellipse-tab-2x.png),
        url(../images/header-and-hero/ring-tab-2x.png),
        url(../images/header-and-hero/ring-tab-2x.png),
        url(../images/header-and-hero/milk-tab-2x.png);
      background-repeat: no-repeat;
      background-size: 143px 336px, 168px 133px, 324px 322px, 16px 16px, 16px 16px, 124px 126px;
      background-position: bottom 0px right 303px, bottom 0px right 34px, bottom 46px right 185px,
        top 94px right 34px, top 152px right 34px, bottom 16px left 32px;
    }
  }

  @media screen and (min-width: 1280px) {
    height: 664px;
    background-image: url(../images/header-and-hero/icecream-desk.png),
      url(../images/header-and-hero/girl-desk.png), url(../images/header-and-hero/ellipse-desk.png),
      url(../images/header-and-hero/ring-desk.png), url(../images/header-and-hero/ring-desk.png),
      url(../images/header-and-hero/milk-desk.png);
    background-repeat: no-repeat;
    background-size: 236px 557px, 293px 232px, 538px 538px, 30px 30px, 30px 30px, 188px 191px;
    background-position: bottom 0px right 408px, bottom 0px right 16px, bottom 76px right 229px,
      top 245px right 16px, top 153px right 16px, bottom 60px left 16px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/header-and-hero/icecream-desk-2x.png),
        url(../images/header-and-hero/girl-desk-2x.png),
        url(../images/header-and-hero/ellipse-desk-2x.png),
        url(../images/header-and-hero/ring-desk-2x.png),
        url(../images/header-and-hero/ring-desk-2x.png),
        url(../images/header-and-hero/milk-desk-2x.png);
      background-repeat: no-repeat;
      background-size: 236px 557px, 293px 232px, 538px 538px, 30px 30px, 30px 30px, 188px 191px;
      background-position: bottom 0px right 408px, bottom 0px right 16px, bottom 76px right 229px,
        top 245px right 16px, top 153px right 16px, bottom 60px left 16px;
    }
  }
}

.header__bar {
  @media screen and (min-width: 320px) {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding-top: 6px;
  }

  @media screen and (min-width: 480px) {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding-top: 6px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    padding-top: 38px;
    justify-content: space-between;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 38px;
  }
}

.header__nav-list {
  @media screen and (min-width: 320px) {
    display: none;
  }

  @media screen and (min-width: 480px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1280px) {
    font-family: 'DM Sans';
    @include font(700, 16px, 21px, 0.04em);
    display: flex;

    .header__nav-item {
      margin-right: 35px;

      &:last-child {
        margin-right: 0px;
      }
    }

    .header__nav-link {
      color: var(--btn-light-bg-color);

      &:hover,
      &:focus {
        color: var(--current-color-active-link);
      }
    }
    .current {
      color: var(--current-color-active-link);
    }
  }
}

.burger-menu {
  @media screen and (min-width: 320px) {
    display: block;
    position: absolute;
    display: block;
    width: 20px;
    height: 12px;
    top: 25px;
    right: 0px;
    padding: 0;
    border: none;
    background: transparent;
  }

  @media screen and (min-width: 480px) {
    display: block;
    position: absolute;
    display: block;
    width: 20px;
    height: 12px;
    top: 25px;
    right: 0px;
    padding: 0;
    border: none;
    background: transparent;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    display: block;
    width: 20px;
    height: 12px;
    top: 52px;
    right: 190px;
    padding: 0;
    border: none;
    background: transparent;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.btn-header {
  @media screen and (min-width: 320px) {
    display: none;
  }

  @media screen and (min-width: 480px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: block;
    @include font(700, 16px, 21px, 0.04em);
    width: 159px;
    height: 44px;
    padding: 11px 37px;
    border-radius: 22px;
    cursor: pointer;
    text-align: start;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 10px;
      top: 18px;
      left: 118px;
      background-image: url(../images/header-and-hero/vector.png);
      background-repeat: no-repeat;
    }
  }

  @media screen and (min-width: 1280px) {
    @include font(700, 16px, 21px, 0.04em);
    width: 159px;
    height: 44px;
    padding: 11px 37px;
    border-radius: 22px;
    cursor: pointer;
    text-align: start;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 10px;
      top: 17px;
      left: 118px;
      background-image: url(../images/header-and-hero/vector.png);
      background-repeat: no-repeat;
    }
  }
}

.hero__theme {
  @media screen and (min-width: 320px) {
    width: 218px;
    font-family: 'Titan One';
    @include font(400, 26px, 30px, 0.04em);
    color: var(--btn-light-bg-color);
    margin-top: 137px;
    text-transform: uppercase;

    .colorized {
      font-family: 'Titan One';
      @include font(400, 48px, 46px, 0.04em);
      color: var(--btn-dark-bg-color);
    }
  }

  @media screen and (min-width: 480px) {
    width: 218px;
    font-family: 'Titan One';
    @include font(400, 26px, 30px, 0.04em);
    color: var(--btn-light-bg-color);
    margin-top: 137px;
    text-transform: uppercase;

    .colorized {
      font-family: 'Titan One';
      @include font(400, 48px, 46px, 0.04em);
      color: var(--btn-dark-bg-color);
    }
  }

  @media screen and (min-width: 768px) {
    width: 162px;
    font-family: 'Titan One';
    @include font(400, 22px, 25px, 0.04em);
    color: var(--btn-light-bg-color);
    margin-top: 15px;
    text-transform: uppercase;

    .colorized {
      font-family: 'Titan One';
      @include font(400, 34px, 31px, 0.04em);
      color: var(--btn-dark-bg-color);
    }
  }

  @media screen and (min-width: 1280px) {
    width: 277px;
    font-family: 'Titan One';
    @include font(400, 38px, 44px, 0.04em);
    color: var(--btn-light-bg-color);
    margin-top: 60px;
    text-transform: uppercase;

    .colorized {
      font-family: 'Titan One';
      @include font(400, 58px, 52px, 0.04em);
      color: var(--btn-dark-bg-color);
    }
  }

  transition: opacity 1200ms cubic-bezier(0.4, 0, 0.2, 1),
  transform 1200ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-80%, 0) scale(1.2);
  opacity: 0;
  
  &.element-show {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}

.hero__btns {
  @media screen and (min-width: 320px) {
    margin-top: 19px;

    .hero__btn {
      height: 24px;
      @include font(400, 8px, 10px, 0.04em);
      margin-right: 8px;
      padding: 6px 13px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  @media screen and (min-width: 480px) {
    margin-top: 19px;

    .hero__btn {
      height: 24px;
      @include font(400, 8px, 10px, 0.04em);
      margin-right: 8px;
      padding: 6px 13px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    margin-top: 20px;

    .hero__btn {
      height: 24px;
      @include font(400, 8px, 10px, 0.04em);
      margin-right: 8px;
      padding: 6px 13px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  @media screen and (min-width: 1280px) {
    margin-top: 25px;

    .hero__btn {
      height: 40px;
      @include font(400, 14px, 18px, 0.04em);
      padding: 11px 20px;
      margin-right: 15px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  transition: opacity 1200ms cubic-bezier(0.4, 0, 0.2, 1),
  transform 1200ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-80%, 0) scale(1.2);
  transition-delay: 800ms;
  opacity: 0;
  
  &.element-show {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}

.hero__btn-link {
  padding: 6px 10px;
  text-decoration: none;
  font-family: 'DM Sans';
  font-style: normal;
  @include font(400, 8px, 10px, 0);
  @include desk {
    @include font(400, 14px, 18px, 0);
    padding: 10px 13px;
  }
}

.btn-light {
  .hero__btn-link {
    color: var(--btn-dark-bg-color);
  }
}

.btn-dark {
  .hero__btn-link {
    color: var(--btn-light-bg-color);
  }
}

.description {
  @media screen and (min-width: 320px) {
    display: none;
  }

  @media screen and (min-width: 480px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: block;
    width: 114px;
    margin-top: 66px;
    margin-left: 120px;

    .description__text {
      font-family: 'DM Sans';
      @include font(400, 8px, 12px, 0.04em);
      color: var(--btn-light-bg-color);
    }

    .description__btn {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: none;
      margin-top: 7px;
      padding: 0;
      cursor: pointer;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 200px;
    margin-top: 108px;
    margin-left: 180px;

    .description__text {
      font-family: 'DM Sans';
      @include font(400, 14px, 20px, 0.04em);
      color: var(--btn-light-bg-color);
    }

    .description__btn {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      border: none;
      margin-top: 20px;
      padding: 0;
      cursor: pointer;
    }
  }
}

.mob-menu__container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 502px;

  background-color: #e17992;

  @media screen and (min-width: 768px) {
    width: 254px;
    height: 1020px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
  &.is-open {
    display: block;
  }
}

.mob-menu__btn {
  height: 44px;
  width: 209px;
  border: none;
  border-radius: 22px;
  padding: 0 17px;

  @include font(700, 16px, 21px, 0.04em);
  @include flex-center;

  margin: 60px auto 32px;

  @media screen and (min-width: 768px) {
    width: 186px;
  }
}

.mob-menu__list {
  margin-left: 21px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 22px;
}

.mob-menu__link {
  @include font(700, 14px, 18px, 0.04em);
  color: #ffffff;
}

.mob-menu__link.current {
  color: #d41443;
}
.mob-menu-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  fill: #ffffff;
  font-size: 20px;
}

.our-network {
  position: absolute;
  top: 94px;
  right: 42px;
  display: flex;
  flex-direction: column;
  @include tel-max {
    display: none;
  }

  @include desk {
    top: 157px;
    right: 26px;
  }

  transition: opacity 1200ms cubic-bezier(0.4, 0, 0.2, 1),
  transform 1200ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-80%, 0) scale(1.2);
  transition-delay: 1000ms;
  opacity: 0;
  
  &.element-show {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}
.our-network__item {
  display: flex;
  flex-direction: column;
  align-items: end;
  & + & {
    margin-top: 16px;
  }
}
.our-network__nomber {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 28px;
  line-height: calc(32 / 28);
  letter-spacing: 0.04em;

  color: #d41443;
  @include desk {
    margin-bottom: 2px;
    font-size: 46px;
    line-height: calc(53 / 46);
  }
}
.our-network__profile {
  font-family: 'DM Sanc';
  font-weight: 400;
  font-size: 8px;
  line-height: calc(10 / 8);

  color: #ffffff;

  @include desk {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}
