.modal {
  background-color: #fff5f6;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    background-image: url(../images/products/icecream-desk.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}
.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
}
.modal-form__title {
  margin-bottom: 12px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: calc(39 / 34);
  letter-spacing: 0.04em;
  color: var(--title-dark-color);

  @include desk {
    font-size: 58px;
    line-height: calc(66 / 58);
    letter-spacing: 0.06em;
  }
}
.modal-close {
  background-color: transparent;
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.modal-form__list {
  width: 100%;
  text-align: left;
}
.modal-form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}
.modal-form__label {
  margin-bottom: 4px;
  text-align: left;
}

.modal-form__input {
  outline: none;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  border: none;
  border-bottom: 1px solid #ffa5ba;
  color: var(--accent-color);
  font-family: DM Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(29 / 16);
  letter-spacing: 0.04em;

  &:focus {
    border-bottom: 1px solid var(--accent-color);
  }
  transition: border-color 250ms linear;
  background-color: inherit;
  &::placeholder {
    color: #ffa5ba;
  }
}

.modal-form__coment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  height: 138px;
  resize: none;
}
.modal-form__text {
  height: 100%;
  resize: none;
  outline: none;
  padding: 12px 16px;
  margin-top: 4px;
  border: none;
  border-bottom: 1px solid #ffa5ba;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(19 / 12);
  letter-spacing: 0.04em;
  @include tab {
    font-size: 14px;
    line-height: calc(25 / 14);
  }
  @include desk {
    font-size: 16px;
    line-height: calc(29 / 16);
  }
  color: var(--accent-color);
  background-color: transparent;

  &::placeholder {
    color: #ffa5ba;
  }
  &:focus {
    border-color: var(--accent-color);
  }
  transition: border-color 250ms linear;
}
.btn-submit {
  border: 1px solid var(--accent-color);
}

// !modal-map

.modal-container {
  position: fixed;
  top: 0;
  z-index: 10;
  transition: transform 250ms linear, opacity 250ms linear, visibility 250ms linear;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.modal-map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid tomato;
}

.map-btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.map {
  display: block;
  max-width: 100%;
}

.modal-franchise {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff5f6;
  max-width: 650px;
  width: 100%;
  min-height: 450px;
  border-radius: 10px;

  &__title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.75;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;

    color: #d41443;
  }

  &__text {
    font-size: 12px;
    line-height: 186%;
    text-align: justify;
    margin-bottom: 20px;
  }
}

.form-title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: #d41443;
  text-align: center;
  margin-bottom: 20px;
}

.subform {
  display: flex;
  justify-content: center;
  gap: 20px;

  &__input {
    border: none;
    border-bottom: 1px solid tomato;
    background-color: transparent;
    outline: none;
    max-width: 180px;
    width: 100%;

    &::placeholder {
      color: #d41443;
    }
  }
}

.modal-about {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff5f6;
  max-width: 650px;
  width: 100%;
  min-height: 450px;
  border-radius: 10px;

  &__text {
    font-size: 12px;
    line-height: 1.8;
    text-align: justify;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    background-image: url(../images/about/cow-desk.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}

.modal-about__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
}

.modal-about__icon {
  fill: #d41443;
}
