.container-advantages {
    padding-left: 20px;
    padding-bottom: 80px;
    @include tab {
        padding-left: 32px;
        padding-bottom: 84px;
    }
    @include desk {
        padding-left: 16px;
        padding-bottom: 120px;
    }
}

.advantages {
    background-color: #FFF5F6;
}

.advantages-list {
    list-style: none;

    @include tab {
        display: flex;
    }
}

.advantages-list__item {
    &::before{
        content: '';
        display: block;
        background-size: auto 50px;
        background-repeat: no-repeat;
        width: auto;
        height: 50px;
    }

    &:first-child::before{
        background-image: url('../images/advantages/advantages-icon1.png');
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) 
        {
            background-image: url('../images/advantages/advantages-icon1-2x.png');
        }
    }

    &:nth-child(n+2)::before{
        background-image: url('../images/advantages/advantages-icon2.png');
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/advantages/advantages-icon2-2x.png');
        }
    }

    &:last-child::before{
        background-image: url('../images/advantages/advantages-icon3.png');
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/advantages/advantages-icon3-2x.png');
        }
    }

    & + & {
        margin-top: 32px;
    }

    @include tab {
        &:last-child {
            margin-right: 209px;
        }
        
        & + & {
            margin-left: 22px;
            margin-top: 0;
        }
    }

    @include desk {
        &:last-child {
            margin-right: 123px;
        }
        
        & + & {
            margin-left: 142px;
        }
    }
}

.advantages-list__title{
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 48px;
    line-height: calc(55 / 48);
    letter-spacing: 0.04em;    
    color: #D41443;

    margin-top: 16px;
    margin-bottom: 20px;
}

.advantages-list__text{
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    color: #000000;

    margin-top: 0;
    margin-right: 70px;
    @include tab {
        margin-right: 0;
    }
}
